@import "normalize";

$primary: #0027C8;
$information: #1469FF;
$warning: #FF3C82 ;


body {
	background-color: black;
	color: white;
	font-family: 'Roboto';
	margin: 0;
}

h1, h2, h3, h4, h5 , p {
	margin: 0;
}

.wrap {
	max-width: 1024px;
	margin: 0 auto;
	background-color: $information;
}

.start {
	position: relative;
	height: 768px;
	box-sizing: border-box;
	border: 1px solid white;
	overflow: hidden;
	// display : none;

	.title	{
		z-index: 30;
		position: absolute;
		top: 330px;
		left: 200px;

		h1 {
			font-size: 64px;
			font-weight: bold;
			text-align: center;
		}
		p {
			font-size: 24px;
			text-align: center;
			font-weight: normal;
		}
	}
	.square {
		z-index: 10;
		position: absolute;
		top: 175px;
		left: 270px;
		width: 460px;
		height: 460px;
		background-color: black;
	}
	.circle {
		z-index: 20;
		position: absolute;
		top: 135px;
		left: 230px;
		width: 540px;
		height: 540px;
		border-radius: 50%;
		background-color: $primary;
	}
	// test sharp
	// .circle2 {
	// 	z-index: 20;
	// 	position: absolute;
	// 	top: 180px;
	// 	left: 275px;
	// 	width: 450px;
	// 	height: 450px;
	// 	border-radius: 50%;
	// 	border: 1px solid white;
	// }
	// test sharp
	// .circle3 {
	// 	z-index: 20;
	// 	position: absolute;
	// 	top: 205px;
	// 	left: 300px;
	// 	width: 400px;
	// 	height: 400px;
	// 	border-radius: 50%;
	// 	border: 1px solid white;
	// }
	.triangle {
		z-index: 25;
		position: absolute;
		border-style: solid;
	}
	#triangle_top {
		top: 186px;
		left: 332px;
		border-width: 0 170px 360px;
		border-color:transparent transparent $warning;
		// 調整旋轉中心
		transform-origin: 50% 62%;
	}
	#triangle_bottom {
		top: 267px;
		left: 332px;
		border-width: 360px 170px 0;
		// 調整旋轉中心
		transform-origin: 50% 39%;
		border-color:$warning transparent transparent;
		// transform:rotate(180deg);
	}
}

.question1 {
	position: relative;
	height: 768px;
	box-sizing: border-box;
	border: 1px solid white;
	overflow: hidden;
	display : none;

	.block1 {
		width: 380px;
		margin-left: 122px;
		margin-top: 80px;
		position: absolute;
		z-index: 5;

		h2 {
			color: $warning;
			font-size: 64px;
			margin: 0 0 10px 0;
			font-weight: bold;
		}
		.question {
			font-size: 36px;
			line-height: 48px;
			margin: 0 0 20px 0;
			font-weight: bold;
		}
		.choice {
			color: $primary;
			font-size: 24px;
			line-height: 36px;
			margin: 0 0 20px 0;
		}
		button {
			font-size: 20px;
			margin: 0 0 10px 0;
			height: 56px;
			background-color: $information;
			color: white;
			border: 1px solid white;
			border-radius: 30px;
			width:100%;
		}
		button:hover {
			background-color: white;
			color: $information;
			cursor: pointer;
		}
	}

	.back_paper {
		position: absolute;
		top: 0;
		//left: 600px;
		left: 1024px;
		width: 424px;
		height:100%;
		z-index:  10;
		background-color: $primary;
		display: inline-block;
	}
	.square {
		position: absolute;
		//top: 110px;
		top: 768px;
		left: 670px;
		z-index: 20;
		width: 180px;
		height: 180px;
		background-color: $warning;
	}
	.triangle {
		position: absolute;
		//top: 320px;
		top: 768px;
		left: 900px;
		z-index: 20;
		width: 0;
		height: 0;
		border-width: 0 80px 147px;
		border-style: solid;
		border-color: transparent transparent white;
	}
	.circle {
		position: absolute;
		//top: 500px;
		top: 768px;
		left: 670px;
		z-index: 20;
		background-color: black;
		width: 400px;
		height: 400px;
		border-radius: 50%;
	}
}


.question2 {
	position: relative;
	height: 768px;
	box-sizing: border-box;
	border: 1px solid white;
	overflow: hidden;
	display : none;
	background: $primary;

	.block1 {
		width: 380px;
		margin-top: 80px;
		position: absolute;
		top: 0px;
		right: 122px;
		right: 0px;
		z-index: 5;
		display: inline-block;

		h2 {
			color: $warning;
			font-size: 64px;
			margin: 0 0 10px 0;
			font-weight: bold;
		}
		.question {
			font-size: 36px;
			line-height: 48px;
			margin: 0 0 20px 0;
			font-weight: bold;
		}
		.choice {
			color: $information;
			font-size: 24px;
			line-height: 36px;
			margin: 0 0 20px 0;
		}
		button {
			font-size: 20px;
			margin: 0 0 10px 0;
			height: 56px;
			background-color: $primary;
			color: white;
			border: 1px solid white;
			border-radius: 30px;
			width:100%;
		}
		button:hover {
			background-color: white;
			color: $information;
			cursor: pointer;
		}
	}

	.back_paper {
		position: absolute;
		top: 0;
		// left: 0;
		left: -424px;
		width: 424px;
		height:100%;
		z-index:  10;
		background-color: $warning;
		display: inline-block;
	}
	.square {
		position: absolute;
		// top: 240px;
		top: 900px;
		left: -150px;
		z-index: 20;
		width: 320px;
		height: 320px;
		background-color: $information;
		transform:rotate(-30deg);
	}
	.triangle {
		position: absolute;
		// top: -40px;
		top: 768px;
		left: 120px;
		z-index: 20;
		width: 0;
		height: 0;
		border-width: 0 160px 220px;
		border-style: solid;
		border-color: transparent transparent white;
		transform:rotate(40deg);
	}
	.circle {
		position: absolute;
		// top: 410px;
		top: 768px;
		left: 130px;
		z-index: 25;
		background-color: black;
		width: 190px;
		height: 190px;
		border-radius: 50%;
	}
}

.question3 {
	position: relative;
	height: 768px;
	box-sizing: border-box;
	border: 1px solid white;
	overflow: hidden;
	background-color: $warning;
	display : none;

	.block1 {
		width: 380px;
		margin-left: 122px;
		margin-top: 80px;
		position: absolute;
		z-index: 5;

		h2 {
			color: $warning;
			font-size: 64px;
			margin: 0 0 10px 0;
			font-weight: bold;
			color: white;
		}
		.question {
			font-size: 36px;
			line-height: 48px;
			margin: 0 0 20px 0;
			font-weight: bold;
			color: black;
		}
		.choice {
			color: $primary;
			font-size: 24px;
			line-height: 36px;
			margin: 0 0 20px 0;
			color: black;
		}
		button {
			font-size: 20px;
			margin: 0 0 10px 0;
			height: 56px;
			background-color: $warning;
			color: white;
			border: 1px solid white;
			border-radius: 30px;
			width:100%;
		}
		button:hover {
			background-color: white;
			color: $warning;
			cursor: pointer;
		}
	}

	.back_paper {
		position: absolute;
		top: 0;
		// left: 600px;
		left: 1024px;
		width: 424px;
		height:100%;
		z-index:  10;
		background-color: $information;
		display: inline-block;
	}
	.square {
		position: absolute;
		// top: 110px;
		top: 768px;
		left: 670px;
		z-index: 20;
		width: 330px;
		height: 330px;
		transform:rotate(2deg);
		background-color: $primary;
	}
	.triangle {
		position: absolute;
		// top: 500px;
		top: 850px;
		left: 830px;
		z-index: 20;
		width: 0;
		height: 0;
		border-width: 0 120px 200px;
		border-style: solid;
		border-color: transparent transparent black;
		transform:rotate(90deg);
	}
	.circle {
		position: absolute;
		// top: -50px;
		top: 768px;
		left: 840px;
		z-index: 20;
		background-color: white;
		width: 300px;
		height: 300px;
		border-radius: 50%;
	}
}

.caculate1 {
	position: relative;
	height: 768px;
	box-sizing: border-box;
	border: 1px solid white;
	overflow: hidden;
	background-color: $information;
	display : none;

	.block1 {
		position: absolute;
		margin: 0;
		z-index: 30;
		top: calc(50% - 70px); 
		left: calc(50% - 170px); 

		h2 {
			font-size: 64px;
			line-height: 75px;
			font-weight: bold;
			text-align: center;
		}
		p {
			font-size: 24px;
			line-height: 36px;
			text-align: center;
		}
	}
	.triangle1 {
		position: absolute;
		// top: 100px;
		// left: -200px;
		// top: 500px;
		// left: -600px;
		z-index: 10;
		width: 0;
		height: 0;
		border-width: 0 350px 650px;
		border-style: solid;
		border-color: transparent transparent $primary;
		transform:rotate(-10deg);
	}
	.triangle2 {
		position: absolute;
		// top: 170px;
		// left: 150px;
		// top: 720px;
		// left: -550px;
		z-index: 20;
		width: 0;
		height: 0;
		border-width: 0 200px 350px;
		border-style: solid;
		border-color: transparent transparent black;
	}
	.triangle3 {
		position: absolute;
		// top: 40px;
		// left: 540px;
		// top: 840px;
		// left: -260px;
		z-index: 20;
		width: 0;
		height: 0;
		border-width: 0 120px 210px;
		border-style: solid;
		border-color: transparent transparent $primary;
		transform:rotate(35deg);
	}
	.triangle4 {
		position: absolute;
		// top: 320px;
		// left: 840px;
		// top: 1160px;
		// left: 0px;
		z-index: 20;
		width: 0;
		height: 0;
		border-width: 0 60px 100px;
		border-style: solid;
		border-color: transparent transparent black;
		transform:rotate(-35deg);
	}
	.triangle5 {
		position: absolute;
		// top: 60px;
		// left: 920px;
		// top: 760px;
		// left: 220px;
		z-index: 20;
		width: 0;
		height: 0;
		border-width: 0 60px 100px;
		border-style: solid;
		border-color: transparent transparent white;
	}
}

.caculate2 {
	position: relative;
	height: 768px;
	box-sizing: border-box;
	border: 1px solid white;
	overflow: hidden;
	background-color: $primary;
	display : none;

	.block1 {
		position: absolute;
		z-index: 30;
		top: calc(50% - 70px); 
		left: calc(50% - 250px); 

		h2 {
			font-size: 64px;
			line-height: 75px;
			font-weight: bold;
			text-align: center;
		}
		p {
			font-size: 24px;
			line-height: 36px;
			text-align: center;
		}
	}
	.square1 {
		position: absolute;
		// top: 420px;
		// left: -300px;
		z-index: 10;
		width: 180px;
		height: 180px;
		transform:rotate(-15deg);
		background-color: black;
	}
	.square2 {
		position: absolute;
		// top: 130px;
		// left: 100px;
		z-index: 10;
		width: 100px;
		height: 100px;
		transform:rotate(30deg);
		background-color: $information;
	}
	.square3 {
		position: absolute;
		// top: 80px;
		// left: 600px;
		z-index: 10;
		width: 180px;
		height: 180px;
		transform:rotate(45deg);
		background-color: $information;
	}
	.square4 {
		position: absolute;
		// top: 240px;
		// left: 600px;
		z-index: 20;
		width: 200px;
		height: 200px;
		transform:rotate(45deg);
		background-color: black;
	}
	.square5 {
		position: absolute;
		// top: 420px;
		// left: 780px;
		z-index: 10;
		width: 120px;
		height: 120px;
		transform:rotate(35deg);
		background-color: $warning;
	}
	.square6 {
		position: absolute;
		// top: -50px;
		// left: 940px;
		z-index: 10;
		width: 250px;
		height: 250px;
		transform:rotate(35deg);
		background-color: $warning;
	}
}

.caculate3 {
	position: relative;
	height: 768px;
	box-sizing: border-box;
	border: 1px solid white;
	overflow: hidden;
	background-color: $warning;
	display : none;

	.block1 {
		position: absolute;
		z-index: 30;
		top: calc(50% - 90px); 
		left: calc(50% - 190px); 

		h2 {
			font-size: 64px;
			line-height: 75px;
			font-weight: bold;
			text-align: center;
			color: black;
			}
		p {
			font-size: 24px;
			line-height: 36px;
			text-align: center;
			color: black;
		}
	}
	.circle1 {
		position: absolute;
		// top: 454px;
		// left: -60px;
		z-index: 10;
		background-color: $primary;
		width: 256px;
		height: 256px;
		border-radius: 50%;
	}
	.circle2 {
		position: absolute;
		// top: 493px;
		// left: 252px;
		z-index: 10;
		background-color: $information;
		width: 137px;
		height: 137px;
		border-radius: 50%;
	}
	.circle3 {
		position: absolute;
		// top: 120px;
		// left: 390px;
		z-index: 20;
		background-color: white;
		width: 460px;
		height: 460px;
		border-radius: 50%;
	}
	.circle4 {
		position: absolute;
		// top: 90px;
		// left: 546px;
		z-index: 10;
		background-color: black;
		width: 395px;
		height: 395px;
		border-radius: 50%;
	}
	.circle5 {
		position: absolute;
		// top: -120px;
		// left: 961px;
		z-index: 10;
		background-color: $primary;
		width: 356px;
		height: 356px;
		border-radius: 50%;
	}
}

.result_triangle {
	position: relative;
	height: 768px;
	box-sizing: border-box;
	border: 1px solid white;
	overflow: hidden;
	background-color: $information;
	display : none;

	.result_descript {
		position: absolute;
		z-index: 10;
		font-size: 24px;
		top: 25%;
		left:40%;
	}
	.result_type {
		position: absolute;
		z-index: 10;
		font-size: 64px;
		top: 30%;
		left:37%;
	}

	.triangle1 {
		position: absolute;
		left: 5%;
		top: 40%;
		z-index: 10;
		width: 0;
		height: 0;
		border-width: 48px 28px 0;
		border-style: solid;
		border-color: black transparent transparent;
	}

	.triangle2 {
		position: absolute;
		left: 15%;
		top: 0%;
		z-index: 10;
		width: 0;
		height: 0;
		border-width: 48px 28px 0;
		border-style: solid;
		border-color: black transparent transparent;
	}

	.triangle3 {
		position: absolute;
		left: 25%;
		top: 50%;
		z-index: 10;
		width: 0;
		height: 0;
		border-width: 48px 28px 0;
		border-style: solid;
		border-color: $primary transparent transparent;
	}

	.triangle4 {
		position: absolute;
		left: 27%;
		top: 15%;
		z-index: 10;
		width: 0;
		height: 0;
		border-width: 48px 28px 0;
		border-style: solid;
		border-color: $primary transparent transparent;
	}

	.triangle5 {
		position: absolute;
		left: 65%;
		top: 5%;
		z-index: 10;
		width: 0;
		height: 0;
		border-width: 48px 28px 0;
		border-style: solid;
		border-color: $primary transparent transparent;
	}

	.triangle6 {
		position: absolute;
		left: 75%;
		top: 40%;
		z-index: 10;
		width: 0;
		height: 0;
		border-width: 48px 28px 0;
		border-style: solid;
		border-color: black transparent transparent;
	}

	.triangle7{
		position: absolute;
		left: 90%;
		top: 30%;
		z-index: 10;
		width: 0;
		height: 0;
		border-width: 48px 28px 0;
		border-style: solid;
		border-color: $primary transparent transparent;
	}

	.triangle_b1{
		position: absolute;
		left: 30%;
		bottom: 0%;
		z-index: 30;
		width: 0;
		height: 0;
		border-width: 0 210px 355px;
		border-style: solid;
		border-color: transparent transparent $primary;
	}
	.triangle_b2{
		position: absolute;
		left: 33%;
		bottom: 0%;
		z-index: 20;
		width: 0;
		height: 0;
		border-width: 0 210px 355px;
		border-style: solid;
		border-color: transparent transparent white;
	}
	.triangle_b3{
		position: absolute;
		left: 38%;
		bottom: -8%;
		z-index: 10;
		width: 0;
		height: 0;
		border-width: 0 210px 355px;
		border-style: solid;
		border-color: transparent transparent black;
	}
	//-------------
	.show {
		display: none;

		.block {
			position: absolute;
			font-size: 30px;
			line-height: 60px;
			color: $primary;
			left: 64%;
			top: 30%;
		}
		.note {
			position: absolute;
			font-size: 20px;
			line-height: 36px;		
			left: 57%;
			top: 61%;
			width: 380px;
		}
		button {
			position: absolute;
			font-size: 24px;
			margin: 0 0 10px 0;
			height: 56px;
			left: 57%;
			top: 80%;
			color: white;
			border: 1px solid white;
			border-radius: 30px;
			width:380px;
			background-color:$information;
		}
		button:hover {
			background-color: white;
			color: $information;
			cursor: pointer;
		}	
	}

}


// .result_triangle2 {
// 	position: relative;
// 	height: 768px;
// 	box-sizing: border-box;
// 	border: 1px solid white;
// 	overflow: hidden;
// 	background-color: $information;
// 	display : none;

// 	.result_descript {
// 		position: absolute;
// 		z-index: 10;
// 		font-size: 24px;
// 		top: 10%;
// 		left:57%;
// 	}
// 	.result_type {
// 		position: absolute;
// 		z-index: 10;
// 		font-size: 64px;
// 		top: 15%;
// 		left:57%;
// 	}

// 	.triangle1 {
// 		position: absolute;
// 		left: 5%;
// 		top: 40%;
// 		z-index: 10;
// 		width: 0;
// 		height: 0;
// 		border-width: 48px 28px 0;
// 		border-style: solid;
// 		border-color: black transparent transparent;
// 	}

// 	.triangle2 {
// 		position: absolute;
// 		left: 57%;
// 		top: 20%;
// 		z-index: 10;
// 		width: 0;
// 		height: 0;
// 		border-width: 48px 28px 0;
// 		border-style: solid;
// 		border-color: black transparent transparent;
// 	}

// 	.triangle3 {
// 		position: absolute;
// 		left: 57%;
// 		top: 31%;
// 		z-index: 10;
// 		width: 0;
// 		height: 0;
// 		border-width: 48px 28px 0;
// 		border-style: solid;
// 		border-color: $primary transparent transparent;
// 	}

// 	.triangle4 {
// 		position: absolute;
// 		left: 57%;
// 		top: 39%;
// 		z-index: 10;
// 		width: 0;
// 		height: 0;
// 		border-width: 48px 28px 0;
// 		border-style: solid;
// 		border-color: $primary transparent transparent;
// 	}

// 	.triangle5 {
// 		position: absolute;
// 		left: 57%;
// 		top: 47%;
// 		z-index: 10;
// 		width: 0;
// 		height: 0;
// 		border-width: 48px 28px 0;
// 		border-style: solid;
// 		border-color: $primary transparent transparent;
// 	}

// 	.triangle6 {
// 		position: absolute;
// 		left: 75%;
// 		top: 40%;
// 		z-index: 10;
// 		width: 0;
// 		height: 0;
// 		border-width: 48px 28px 0;
// 		border-style: solid;
// 		border-color: black transparent transparent;
// 	}

// 	.triangle7{
// 		position: absolute;
// 		left: 90%;
// 		top: 30%;
// 		z-index: 10;
// 		width: 0;
// 		height: 0;
// 		border-width: 48px 28px 0;
// 		border-style: solid;
// 		border-color: $primary transparent transparent;
// 	}

// 	.triangle_b1{
// 		position: absolute;
// 		left: 10%;
// 		bottom: 24%;
// 		z-index: 30;
// 		width: 0;
// 		height: 0;
// 		border-width: 0 180px 310px;
// 		border-style: solid;
// 		border-color: transparent transparent $primary;
// 	}
// 	.triangle_b2{
// 		position: absolute;
// 		left: 13%;
// 		bottom: 39%;
// 		z-index: 20;
// 		width: 0;
// 		height: 0;
// 		border-width: 0 180px 310px;
// 		border-style: solid;
// 		border-color: transparent transparent white;
// 		transform:rotate(80deg);
// 	}
// 	.triangle_b3{
// 		position: absolute;
// 		left: 7%;
// 		bottom: 44%;
// 		z-index: 10;
// 		width: 0;
// 		height: 0;
// 		border-width: 0 180px 310px;
// 		border-style: solid;
// 		border-color: transparent transparent black;
// 		transform:rotate(-70deg);
// 	}

// 	//-------------
// 	.block {
// 		position: absolute;
// 		font-size: 30px;
// 		line-height: 60px;
// 		color: $primary;
// 		left: 64%;
// 		top: 30%;
// 	}
// 	.note {
// 		position: absolute;
// 		font-size: 20px;
// 		line-height: 36px;		
// 		left: 57%;
// 		top: 61%;
// 		width: 380px;
// 	}
// 	button {
// 		position: absolute;
// 		font-size: 24px;
// 		margin: 0 0 10px 0;
// 		height: 56px;
// 		left: 57%;
// 		top: 80%;
// 		color: white;
// 		border: 1px solid white;
// 		border-radius: 30px;
// 		width:380px;
// 		background-color:$information;
// 	}
// 	button:hover {
// 		background-color: white;
// 		color: $information;
// 		cursor: pointer;
// 	}	
// }